* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  padding: 10px 20px;
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}
.list-group-item {
  padding: 0;
}

.project_img{
    height: 200px;
    width: 200px;
}
.project_div{
    height: 250px;
    width: 200px;
    border: 1px solid;
    flex: 1;
}