* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  padding: 10px 20px;
  text-align: center;
}

.nav-link.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
}
.list-group-item {
  padding: 0;
}

.project_img{
    height: 200px;
    width: 230px;
}
.project_div{
    height: 250px;
    width: 250px;
}
.project_row{
  margin-left: 70px;
}


.api_cheatsheet_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.api_cheatsheet_container object{
  height: 400px;
  width: 350px;
  object-fit: contain;
}

.menu{
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 4;
}

.mob-menu{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.79);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
}


@media screen and (max-width:768px) {
  .nav-link {
    padding: 5px 8px;
  }
  .project_row{
    margin: auto;
  }
  .project_div{
    width: 100%;
  }
  .project_img{
    width: 100%;
  }

  .menu img{
    height: 60px;
    width: 60px;
  }

}